/khi_data
/test_data
/snap_conditioned_unet_generations
/data_no_mach
/figures_no_mach
/5.5k_data_no_mach
/5.5k_figures_no_mach
/unet_checkpoints
/unet_generations
/physcons_conditioned_unet_checkpoints
/snap_conditioned_unet_checkpoints
/unet_data
/four_channels
/models/cnn models