/data
/figures
/evaluation_plots
/checkpoints
/cnn_checkpoints
/cnn_data
/unet_checkpoints
/unet_generations
/unet_data
/test.py
/cnn_test.py
/100k_data
/100k_figures
/analysis
/four_channels_first_run